rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /settings/{key} {
      allow read, write: if true;
    }
    match /judges/{name} {
      allow read, write: if true;
    }
    match /public_votes/{voterId} {
      allow read, write: if true;
    }
    match /preliminary_votes/{voterId} {
      allow read, write: if true;
    }
    match /predictions/{voterId} {
      allow read, write: if true;
    }
    match /judge_scores/{scoreId} {
      allow read, write: if true;
    }
    match /draw_winners/{winnerId} {
      allow read, write: if true;
    }
    match /preliminary_scores/{teamId} {
      allow read, write: if true;
    }
    match /vote_draw_winners/{winnerId} {
      allow read, write: if true;
    }
  }
}
